<div class="space80"></div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <p>
            " Lorem ipsum dolor sit amet, omnium urbanitas, labitur volumus id eum. Ius ignota offendit similique et, sea dolorum vituperata ullamcorper et, justo insolens omittantur sit ne. Aliquip pertinax vix ad, ea eos euismod officiis. "
        </p>
        <br>
        <h4>Adam Villey</h4>
        <span>Project Client</span>
    </div>
</div>
