<div class="space80"></div>
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2>Subscribe to our newsletter</h2>
                <p>Subscribe to our newsletter to day and get latest updates from us</p>
            </div>
            <div class="col-sm-5">
                <form role="form" method="post" action="#" class="subscribe-form  b-newsletter">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Enter email to subscribe">
                    </div>
                    <div>
                        <button name="submit" type="submit"><i class="ion-ios-email-outline"></i></button>
                    </div>                          
                </form>

            </div>
        </div>
    </div>
</div>