<%= render 'single_page/shared/navbar-single-project-show' %>

<!--page title-->
<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 300px;">

    <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url(/assets/client/images/bg-3.jpg)">
    </div>
    <div class=" parallax-text center-it page-title">
        <h2>Project  - Full width</h2>
    </div>
</div>
<div class="space80"></div>
<div class="container">
    <div id="js-filters-agency" class="cbp-l-filters-text">
        <div class="cbp-l-filters-text-sort">Sort by:</div>
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All <div class="cbp-filter-counter"></div>
        </div> |
        <div data-filter=".interior" class="cbp-filter-item">
            Interior <div class="cbp-filter-counter"></div>
        </div> |
        <div data-filter=".renovation" class="cbp-filter-item">
           Renovation <div class="cbp-filter-counter"></div>
        </div> |
        <div data-filter=".management" class="cbp-filter-item">
            Management <div class="cbp-filter-counter"></div>
        </div> |
        <div data-filter=".construction" class="cbp-filter-item">
            Construction <div class="cbp-filter-counter"></div>
        </div>
    </div><!--filter-->
</div>
<div id="js-grid-agency" class="cbp cbp-l-grid-agency">
    <div class="cbp-item interior">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-1.jpg" data-cbp-src="/assets/client/images/work-1.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Interior</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
    <div class="cbp-item renovation">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-2.jpg" data-cbp-src="/assets/client/images/work-2.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Renovation</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
    <div class="cbp-item management">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-3.jpg" data-cbp-src="/assets/client/images/work-3.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Project Management</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
    <div class="cbp-item construction">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-4.jpg" data-cbp-src="/assets/client/images/work-4.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Construction</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
      <div class="cbp-item interior">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-5.jpg" data-cbp-src="/assets/client/images/work-5.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Interior</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
    <div class="cbp-item renovation">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-6.jpg" data-cbp-src="/assets/client/images/work-6.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Renovation</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
    <div class="cbp-item management">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-7.jpg" data-cbp-src="/assets/client/images/work-7.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Project Management</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
    <div class="cbp-item construction">
        <a href="#">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="/assets/client/images/work-8.jpg" data-cbp-src="/assets/client/images/work-8.jpg" alt="" width="380" height="250">
                </div>
            </div>
            <div class="cbp-l-grid-agency-title">Construction</div>
            <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
        </a>
    </div><!--end item-->
</div>
<!--End page title-->

<!-- Subscribe to us -->
<%= render 'subscribe_to_us' %>
<!--End Subscribe to us -->















<% block do %>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Consumer</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.location %></td>
        <td><%= project.consumer %></td>
        <td><%= project.price %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Project', new_project_path %>

<% end %>