<section id="about">
    <div class="space100"></div>
    <div class="container">
        <div class="row vertical-align-child">
            <div class="col-sm-5 hidden-xs wow animated fadeInUp" data-wow-delay="0.3s">
                <img src="/assets/client/images/single-1.png" alt="" class="img-responsive">
            </div>
            <div class="col-sm-6 col-sm-offset-1 wow animated fadeInUp" data-wow-delay="0.6s">
                <h1>We are <span class="color_text">PASSIONATE</span> about our work</h1>
                <div class="border-width"></div>
                <p>
                    We offer you stand ready to serve you with unsurpassed quality goods and services Our team of experts are ready to serve all your needs. With just one day notice, our team can have large crew or reliable and experienced workers ready to begin work for your specific needs.​​
                </p>
                <hr>
                <div class="buttons">
                    <a href="#work" class="btn btn-xl btn-skin">Projects</a>
                    <a href="#" class="btn btn-xl btn-dark">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="space40"></div>
        <div class="row">
            <div class="col-sm-4 margin-btm-30 text-center">
                <div class="icon-box clearfix wow animated fadeIn" data-wow-delay="0.3s">
                    <i class="flaticon-excavator-machine-arm"></i>
                    <div class="content">
                        <h4 class="text-uppercase">Experiences</h4>
                        <div class="border-width"></div>
                        <p>
                            We are fully service designer, remodeling and construction specialize in quality custom. We have been the most modern and classic  style contractor in New York City. We draw more attention even on smaller, simple projects. The major remodeling unique built in projects, Kitchen, Dining Room, Bathroom, Living Room,  Bedroom,  Basement,  Reception Area, Garage, Outdoor Space, Offices, Retail Stores, Worked on Roofing and all phase construction services.  We also have been helping with a variety of other light construction services including: Plumbing, Flooring, Wall and Insulation and more.
                        </p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-sm-4 margin-btm-30 text-center">
                <div class="icon-box clearfix wow animated fadeIn" data-wow-delay="0.6s">
                    <i class="flaticon-construction-crane-machine-1"></i>
                    <div class="content">
                        <h4 class="text-uppercase">Professionals</h4>
                        <div class="border-width"></div>
                        <p>
                            Our experts are dedicated to providing strict compliance with all laws, rules, and regulations. We will work with your budget and schedule to meet all the exceptions. Our team will be able to superb craftsmanship  at affordable rates even your project is small or large.
                            We love to provide creative inspiring solutions to our customers. We’ve built your neighbors most modelist styles. We look forward to you hear from you. Feel free to contact anytime.
                        </p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-sm-4 margin-btm-30 text-center">
                <div class="icon-box clearfix wow animated fadeIn" data-wow-delay="0.9s">
                    <i class="flaticon-construction-excavator"></i>
                    <div class="content">
                        <h4 class="text-uppercase">Modern Technologies</h4>
                        <div class="border-width"></div>
                        <p>
                            <ul style="list-style-type:disc">
                              <li>Site Work</li>
                              <li>Building Frame / Envelope</li>
                              <li>Interior Walls / Painting</li>
                              <li>Bathroom / Plumbing</li>
                              <li>Electric</li>
                              <li>Kitchen</li> 
                              <li>Extras</li>
                            </ul>  
                        </p>
                    </div>
                </div>
            </div><!--end col-->
        </div>
    </div>
    <!--end intro section-->
    <!-- <div class="space70"></div> -->
</section>