<section id="contact">
    <div class="gray-bg">
        <div class="space100"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 margin-btm-30">

                    <%= form_for(Contact.new, html: {class: "b-contact"}, url: :single_page_contact_us, remote: true ) do |f| %>
                        <div class="row">
                            <div class="col-sm-12"> 
                                <div class="row">
                                    <div class="col-sm-12 margin-btm-20">
                                        <%= f.text_field :full_name, placeholder: "Full Name....", class: "form-control", :required => true %>
                                    </div>
                                    <div class="col-sm-12 margin-btm-20">
                                        <%= f.email_field :email, placeholder: "Email Address....", class: "form-control", :required => true %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <%= f.text_area :message, placeholder: "Message....", rows: "5", class: "form-control margin-btm-20", :required => true %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="data-status animated fadeInDown"></div> 
                                <!-- data submit status -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <%= f.submit "Submit", class: "btn btn-xl btn-skin margin-b-20" %>
                            </div>
                        </div>
                    <% end %>

                </div><!--contact col end-->
                <div class="col-sm-3 col-sm-offset-1">

                    <div class="sidebar-widget">
                        <h3><u>Contact info</u></h3>
                        <hr>
                        <span class="margin-btm-10">
                            <b>Address:</b> Brooklyn, NY
                            <!-- 45 Park Avenue, Apt. 303 <br>
                            Columbia, 302012 -->
                        </span><br>
                        <span><b>Phone:</b> <a href="tel:1-646-464-4611">+1 646-464-4611</a> </span><br>
                        <span><b>Phone:</b> +1 916-428-9040 </span><br>
                        <span><b>Email:</b> info@brrcr.com</span>
                    </div>
                    <div class="sidebar-widget">
                        <!-- <h3>Contact info</h3>
                        <hr>
                        <ul class="list-inline social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="space70"></div>
    </div>
</section>