<section id="news">
    <div class="space100"></div>
    <div class="container">
        <div class="center-title margin-btm-50">
            <h1>Company News</h1>
            <div class="border-width center-align"></div>
        </div>
        <div class="row">
            <div class="col-sm-9 margin-btm-30">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="post wow animated fadeInUp" data-wow-delay="0.2s">
                            <a href="post.html">
                                <img src="/assets/client/images/s1.jpg" alt="" class="img-responsive"> 
                            </a>
                            <div class="space20"></div>
                            <div class="post-meta">
                                <h4><a href="#">Post Title goes here</a></h4>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="ion-person"></i> User</a></li>
                                    <li><a href="#"><i class="ion-ios-clock"></i> 12 May 2016</a></li>
                                    <li><a href="#"><i class="ion-ios-chatbubble"></i> 3 Comments</a></li>
                                    <li><a href="#"><i class="ion-pound"></i> Interior</a></li>
                                </ul>
                            </div><!--post meta-->
                            <div class="post-content">
                                <p>
                                    If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation
                                </p>
                                <p class="text-right">
                                    <a href="#" class="btn btn-link">Read More...</a>
                                </p>
                            </div>
                        </div><!--post end-->
                    </div>
                    <div class="col-sm-6">
                        <div class="post wow animated fadeInUp" data-wow-delay="0.4s">
                            <a href="post.html">
                                <img src="/assets/client/images/s2.jpg" alt="" class="img-responsive"> 
                            </a>
                            <div class="space20"></div>
                            <div class="post-meta">
                                <h4><a href="#">Post Title goes here</a></h4>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="ion-person"></i> User</a></li>
                                    <li><a href="#"><i class="ion-ios-clock"></i> 12 May 2016</a></li>
                                    <li><a href="#"><i class="ion-ios-chatbubble"></i> 3 Comments</a></li>
                                    <li><a href="#"><i class="ion-pound"></i> Interior</a></li>
                                </ul>
                            </div><!--post meta-->
                            <div class="post-content">
                                <p>
                                    If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation
                                </p>
                                <p class="text-right">
                                    <a href="#" class="btn btn-link">Read More...</a>
                                </p>
                            </div>
                        </div><!--post end-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <ul class="card-list list-unstyled wow animated fadeInUp" data-wow-delay="0.6s">
                    <li>
                        <a href="post.html">
                            <h4>Voluptate velit esse quam nihil molestiae consequatur</h4>
                            <span>2 Days Ago <em>Interior</em></span>
                        </a>
                    </li>
                    <li>
                        <a href="post.html">
                            <h4>What the estimate time of house painting.</h4>
                            <span>2 Days Ago <em>Interior</em></span>
                        </a>
                    </li>
                    <li>
                        <a href="post.html">
                            <h4>Voluptate velit esse quam nihil molestiae consequatur</h4>
                            <span>2 Days Ago <em>Interior</em></span>
                        </a>
                    </li>
                    <li>
                        <a href="blog.html" class="btn btn-link">
                            Read All news
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="space70"></div>
</section>