<section id="work">
    <!-- <div class="space100"></div> -->
<!--     <div class="container">
        <div id="js-filters-agency" class="cbp-l-filters-text">
            <div class="cbp-l-filters-text-sort">Sort by:</div>
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".interior" class="cbp-filter-item">
                Interior <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".renovation" class="cbp-filter-item">
                Renovation <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".management" class="cbp-filter-item">
                Management <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".construction" class="cbp-filter-item">
                Construction <div class="cbp-filter-counter"></div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div id="js-filters-agency" class="cbp-l-filters-text">
            <div class="cbp-l-filters-text-sort">Sort by:</div>
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".interior" class="cbp-filter-item">
                Interior Walls/Painting <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".renovation" class="cbp-filter-item">
                Kitchen <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".management" class="cbp-filter-item">
                Building/Envelope <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".construction" class="cbp-filter-item">
                Bathroom/Plumbing <div class="cbp-filter-counter"></div>
            </div>
        </div>
    </div>
    
    <div id="js-grid-agency" class="cbp cbp-l-grid-agency">

        <!-- Bathrooms -->
        <div class="cbp-item construction">
            <a href="/assets/projects/bathroomplumbing/_7_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/bathroomplumbing/_7_768.jpg" data-cbp-src="/assets/projects/bathroomplumbing/_7_768.jpg" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <div class="cbp-l-grid-agency-desc">Construction and Renovation</div>
            </a>
        </div>
        <div class="cbp-item construction">
            <a href="/assets/projects/bathroomplumbing/_1_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/bathroomplumbing/_1_768.jpg" data-cbp-src="/assets/projects/bathroomplumbing/_1_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <div class="cbp-l-grid-agency-desc">Construction and Renovation</div>
            </a>
        </div>
        <div class="cbp-item construction">
            <a href="/assets/projects/bathroomplumbing/_9_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/bathroomplumbing/_9_768.jpg" data-cbp-src="/assets/projects/bathroomplumbing/_9_768.jpg" alt="" width="380" height="250" >
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <div class="cbp-l-grid-agency-desc">Construction and Renovation</div>
            </a>
        </div>

        <!-- interior -->
        <div class="cbp-item interior">
            <a href="/assets/projects/interiorwallspainting/_5_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/interiorwallspainting/_5_768.jpg" data-cbp-src="/assets/projects/interiorwallspainting/_5_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Interior</div>
                <div class="cbp-l-grid-agency-desc">Painting and Renovation</div>
            </a>
        </div>
        <div class="cbp-item interior">
            <a href="/assets/projects/interiorwallspainting/_6_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/interiorwallspainting/_6_768.jpg" data-cbp-src="/assets/projects/interiorwallspainting/_6_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Interior</div>
                <div class="cbp-l-grid-agency-desc">Painting and Renovation</div>
            </a>
        </div>
        <div class="cbp-item interior">
            <a href="/assets/projects/interiorwallspainting/_7_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/interiorwallspainting/_7_768.jpg" data-cbp-src="/assets/projects/interiorwallspainting/_7_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Interior</div>
                <div class="cbp-l-grid-agency-desc">Painting and Renovation</div>
            </a>
        </div>
        <div class="cbp-item interior">
            <a href="/assets/projects/interiorwallspainting/_2_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/interiorwallspainting/_2_768.jpg" data-cbp-src="/assets/projects/interiorwallspainting/_2_768.jpg" alt="" width="380" height="250">
                        <%#= image_tag 'projects/bathroomplumbing/_1_768.jpg' %>
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Interior</div>
                <div class="cbp-l-grid-agency-desc">Painting and Renovation</div>
            </a>
        </div>
        <div class="cbp-item interior">
            <a href="/assets/projects/interiorwallspainting/_3_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/interiorwallspainting/_3_768.jpg" data-cbp-src="/assets/projects/interiorwallspainting/_3_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Interior</div>
                <div class="cbp-l-grid-agency-desc">Painting and Renovation</div>
            </a>
        </div>

        <!-- renovation = Kitchens -->
        <div class="cbp-item renovation">
            <a href="/assets/projects/kitchen/_1_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/kitchen/_1_768.jpg" data-cbp-src="/assets/projects/kitchen/_1_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchens</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item renovation">
            <a href="/assets/projects/kitchen/_2_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/kitchen/_2_768.jpg" data-cbp-src="/assets/projects/kitchen/_2_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchens</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item renovation">
            <a href="/assets/projects/kitchen/_3_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/kitchen/_3_768.jpg" data-cbp-src="/assets/projects/kitchen/_3_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchens</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item renovation">
            <a href="/assets/projects/kitchen/_4_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/kitchen/_4_768.jpg" data-cbp-src="/assets/projects/kitchen/_4_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchens</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>

        <!-- management = Flooring -->
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_1_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_1_768.jpg" data-cbp-src="/assets/projects/flooring/_1_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_2_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_2_768.jpg" data-cbp-src="/assets/projects/flooring/_2_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_3_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_3_768.jpg" data-cbp-src="/assets/projects/flooring/_3_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_4_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_4_768.jpg" data-cbp-src="/assets/projects/flooring/_4_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_5_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_5_768.jpg" data-cbp-src="/assets/projects/flooring/_5_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_6_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_6_768.jpg" data-cbp-src="/assets/projects/flooring/_6_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_7_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_7_768.jpg" data-cbp-src="/assets/projects/flooring/_7_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
        <div class="cbp-item management">
            <a href="/assets/projects/flooring/_8_768.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/flooring/_8_768.jpg" data-cbp-src="/assets/projects/flooring/_8_768.jpg" alt="" width="380" height="250">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Flooring</div>
                <div class="cbp-l-grid-agency-desc">By Bpress Construction</div>
            </a>
        </div>
    </div>

    <div class="space50"></div>
    <div class="text-center container">
        <!-- <a href="/projects" class="btn btn-xl btn-dark">View All Projects <i class="ion-android-arrow-forward"></i></a> -->
    </div>
    <div class="space80"></div>
</section>