<%= render 'single_page/shared/navbar' %>

<!--call to action-->
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 wow animated fadeInDown" data-wow-delay="0.2s">
                <h3>Do you need Professionals to build your dream home?</h3>
                <p>We offer the best home services - Renovation/Remodelling and etc...</p>
            </div>
            <div class="col-sm-4 text-center wow animated fadeInUp" data-wow-delay="0.4s">
                <a href="#contact" class=" btn btn-skin btn-xl">Contact us <i class="ion-em"></i></a>
            </div>
        </div>
    </div>
</div>

<%= render 'single_page/main/about' %>
<%#= render 'single_page/main/services' %>
<%#= render 'single_page/main/testimonials' %>
<%= render 'single_page/main/projects' %>
<%#= render 'single_page/main/why_choose_us' %>
<%#= render 'single_page/main/news' %>
<%= render 'single_page/main/contact_us' %>
<%#= render 'single_page/main/google_map' %>
