<nav class="navbar navbar-inverse navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
                
                    <a href="#" class="navbar-brand" style='color: #edac15'>BRR Construction</a>
                    <a href="tel:1-646-464-4611" class="navbar-brand" style='color: #edac15'>
                        <span class="glyphicon glyphicon-phone-alt"></span> 646-464-4611
                    </a>
                

            
            <!-- <a class="navbar-brand" href="index.html"><img src="images/logo-light.png" alt=""></a> -->

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right scroll-to">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <!-- <li><a href="#services">Services</a></li> -->
                <li><a href="#work">Projects</a></li>
                <!-- <li><a href="#news">news</a></li> -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container -->
</nav><!--/nav -->

<!--top bar end-->
<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>

    <div class="divimage dzsparallaxer--target " data-src="/assets/client/images/background-800x450.jpg" style="width: 100%; height: 130%; background-image: url()">
        <div class="hero-parallax">
            <div class="hero-inner">
                <div class="hero-content">
                    <div class="container text-center">
                        <div class="hero-static">
                            <h1 style='font-weight: 900; color: #edac15'>Welcome to BRR Construction and Renovation</h1>
                            <!-- <p>#1 Construction Comapny Since 1946</p> -->
                            <div class="buttons scroll-to">
                                <a href="#about" class="btn btn-white btn-lg">About us</a>
                                <a href="#work" class="btn btn-skin btn-lg">Projects</a>
                            </div>
                        </div>
                    </div><!--container-->
                </div><!--hero content-->
            </div><!--hero inner-->

        </div><!--parallax hero-->
    </div><!--parallax image div-->
    <div class="mouse-down scroll-to"><a href="#agency"><i class="ion-mouse"></i></a></div>
</section>
