<!--top bar-->
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <span><i class="ion-android-call"></i> +1 646-464-4611</span>
                <span><i class="ion-ios-email"></i> info@brrcr.com</span>
            </div>
            <div class="col-sm-6">
                <ul class="list-inline text-right">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--top bar end-->
